<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="style.css") 
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous")
        script(src = "https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.0.550/pdf.min.js")
        script(src = "script.js")

    body
    .container
        .logo 2BytesEstimator
        .topRightIcons
            button(data = "pen")
                i.fas.fa-pen-nib
            button(data = "color")
                i.fas.fa-palette
            button(data = "sync")
                i.fas.fa-sync
            button(data = "dummy")
            button(data = "delete")
                i.far.fa-trash-alt
            button(data = "undo")
                i.fas.fa-undo
            button(data = "redo")
                i.fas.fa-redo
        .rest
        .left
            canvas.displayFile.sourceCanvas
            form
                input(type = "file" id = "file" accept = "application/pdf")
                label(for = "file" class = "custom-file-label") Select File
                button(type = "submit" data = "upload")
                    i.fas.fa-file-upload
        .right
            canvas.rightCanvas